In [15]:
import pandas as pd
import numpy as np
#creating the dataframe
house=pd.DataFrame({
    'RoomID':[21,44,67,89,10,12,14,16,18],
    'numberofroom':[3,5,6,4,2,3,None,6,None],
    "houseSquareMeter":[130,140,None,150,None,125,None,135,None],
    'city': ["Nairobi", "NEwyork",np.nan, "Kampala", "Bevelyn","Los Angeles","Malibu","Tokyo ",np.nan]})
print(house)

   RoomID  numberofroom  houseSquareMeter         city
0      21           3.0             130.0      Nairobi
1      44           5.0             140.0      NEwyork
2      67           6.0               NaN          NaN
3      89           4.0             150.0      Kampala
4      10           2.0               NaN      Bevelyn
5      12           3.0             125.0  Los Angeles
6      14           NaN               NaN       Malibu
7      16           6.0             135.0       Tokyo
8      18           NaN               NaN          NaN

In [16]:
#count the number of missing value based on variable
house.isnull().sum()

RoomID              0
numberofroom        2
houseSquareMeter    4
city                2
dtype: int64

In [17]:
#deletion listwise method
house1=house.dropna()
print(house1)

   RoomID  numberofroom  houseSquareMeter         city
0      21           3.0             130.0      Nairobi
1      44           5.0             140.0      NEwyork
3      89           4.0             150.0      Kampala
5      12           3.0             125.0  Los Angeles
7      16           6.0             135.0       Tokyo

In [18]:
#deletion of variable method
house2=house.drop(columns='houseSquareMeter')
print(house2)

   RoomID  numberofroom         city
0      21           3.0      Nairobi
1      44           5.0      NEwyork
2      67           6.0          NaN
3      89           4.0      Kampala
4      10           2.0      Bevelyn
5      12           3.0  Los Angeles
6      14           NaN       Malibu
7      16           6.0       Tokyo
8      18           NaN          NaN

In [19]:
#pairwise method
#add new column to the pairwise method
house['houseprice']=[20000,90000,2891000,2879450,4500,3400,1000,4550,9900]
print(house)

   RoomID  numberofroom  houseSquareMeter         city  houseprice
0      21           3.0             130.0      Nairobi       20000
1      44           5.0             140.0      NEwyork       90000
2      67           6.0               NaN          NaN     2891000
3      89           4.0             150.0      Kampala     2879450
4      10           2.0               NaN      Bevelyn        4500
5      12           3.0             125.0  Los Angeles        3400
6      14           NaN               NaN       Malibu        1000
7      16           6.0             135.0       Tokyo         4550
8      18           NaN               NaN          NaN        9900

In [20]:
# Only two variables selected for correlation analysis
print(house[['RoomID','houseprice']].dropna().corr())

              RoomID  houseprice
RoomID      1.000000    0.922396
houseprice  0.922396    1.000000

In [21]:
print(house[['houseSquareMeter','houseprice']].dropna().corr())

                  houseSquareMeter  houseprice
houseSquareMeter          1.000000    0.825871
houseprice                0.825871    1.000000

In [22]:
# Last Observation Carried Forward
house.numberofroom.fillna(method='bfill')

0    3.0
1    5.0
2    6.0
3    4.0
4    2.0
5    3.0
6    6.0
7    6.0
8    NaN
Name: numberofroom, dtype: float64

In [23]:
house.numberofroom.fillna(method='ffill')

0    3.0
1    5.0
2    6.0
3    4.0
4    2.0
5    3.0
6    3.0
7    6.0
8    6.0
Name: numberofroom, dtype: float64

In [24]:
house.numberofroom.fillna(value='15')

0    3.0
1    5.0
2    6.0
3    4.0
4    2.0
5    3.0
6     15
7    6.0
8     15
Name: numberofroom, dtype: object

In [30]:
house3=house.dropna()
house4=house3.drop(columns='city')
house4.mean()

RoomID                  36.4
numberofroom             4.2
houseSquareMeter       136.0
houseprice          599480.0
dtype: float64

In [31]:
house_mean = house4.fillna(house4.mean())
print(house_mean.houseSquareMeter)

0    130.0
1    140.0
3    150.0
5    125.0
7    135.0
Name: houseSquareMeter, dtype: float64

In [34]:
# Median
print(house4.numberofroom.fillna(house4.numberofroom.median()))

0    3.0
1    5.0
3    4.0
5    3.0
7    6.0
Name: numberofroom, dtype: float64

In [35]:

# mode
print(house.numberofroom.fillna(house.numberofroom.mode()[1]))

0    3.0
1    5.0
2    6.0
3    4.0
4    2.0
5    3.0
6    6.0
7    6.0
8    6.0
Name: numberofroom, dtype: float64